.eu{
    width: 290px;
    height: 290px;
    border-radius: 100%;
    position: absolute;
    top: 30px;
    left: 10px;
}
.user{
    position: absolute;
    left: 350px;
    top: 3px;
}

.bio{
    position: absolute;
    left: 350px;
    top: 80px;

}
.bio2{
    position: absolute;
    left: 350px;
    top: 60px;

}

.pro{
    text-align: center;
    position: absolute;
    top: 135px;
    left: 560px;

}
body{
    overflow-x: hidden;
    overflow-y: auto;
}
.lion{
    width: 390px;
    height: 390px;
    position: absolute;
    top: 350px;
    left: 30px ;

}
.keyboard{
    width: 390px;
    height: 390px;
    position: absolute;
    left: 460px;
    top: 350px;

}
.cara{
    width: 390px;
    height: 390px;
    position: absolute;
    left: 900px;
    top: 350px;

}

.obj{
    width: 390px;
    height: 390px;
    position: absolute;
    left: 30px;
    top: 780px;

}
.df{
    width: 390px;
    height: 390px;
    position: absolute;
    left: 460px;
    top: 780px;

}
.dff{
    width: 390px;
    height: 390px;
    position: absolute;
    left:900px;
    top:780px;


}
.dfff{
    width: 390px;
    height: 390px;
    position: absolute;
    left: 30px;
    top: 1220px;

}
.dffff{
    width: 390px;
    height: 390px;
    position: absolute;
    left: 460px;
    top: 1220px;

}
.dfffff{
    width: 390px;
    height: 390px;
    position: absolute;
    left: 460px;
    top: 1660px;

}
.ds{
    width: 390px;
    height: 390px;
    position: absolute;
    left: 900px;
    top: 1220px;

}
.dss{
    width: 390px;
    height: 390px;
    position: absolute;
    left: 30px;
    top: 1660px;

}
.dsss{
    width: 390px;
    height: 390px;
    position: absolute;
    left: 900px;
    top: 1660px;

}